header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: auto;
    background: linear-gradient(90deg, #25CCDD 0%, #7BE08F 40%, #DAF63E 70%, #1E1E1E 100%);
    color: #1E1E1E;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

nav .logo {
    font-size: 1.5rem;
    color: #FFFFFF;
    text-decoration: none;
}

nav .logo img {
    height: 50px;
    width: auto;
  }  

nav ul {
    list-style: none;
    display: flex;
    /* margin: 0;
    padding: 0; */
}


nav ul li {
    padding: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #aaa;
  }

/* nav a {
    text-decoration: none;
    color: #1E1E1E;
    padding: 0.5rem 1rem;
} */

/* nav a.logo {
    font-size: 1.5rem;
    font-weight: bold;
} */
