<div class="landing-container">
    <main>
        <div class="content-container">
            <section class="hero">
                <h1>Welcome to Groots!</h1>
                <h1>A Generative AI Tool that Evaluates Innovative Circular Economy Ideas</h1>
                <p>The intent of the tool is not to replace the savvy of human investors; rather, the purpose is to make
                    their decision-making sharper, more efficient, and possibly less prone to their behavioral biases.
                </p>
                <div class="buttons">
                    <button class="btn-primary" (click)="onGetStartedClick()">Get Started</button>
                    <button class="btn-secondary" (click)="onLearnMoreClick()">Learn More</button>
                </div>
            </section>
            <section class="character">
                <div class="plant plant-right">
                    <img src="assets/plant_right.png" alt="Plant Right">
                </div>
                <div class="plant plant-left">
                    <img src="assets/plant_left.png" alt="Plant Left">
                </div>
                <div class="astrobot">
                    <img src="assets/astrobot.png" alt="Groots Bot">
                </div>
            </section>
        </div>
    </main>
</div>